
body {
	font-family: "Raleway";
	background-color: #62B6CB;
	color: white;
}

h1 {
	padding-top: 3%;
	text-align: center;
}

h2 {
	text-align: left;
	font-weight: 400;
	margin-left: 45px;
}

.choices {
	padding: 3%;
	background-color: #71F79F;
	margin: 3% 10%;
	border-radius: 3px;
}

.choices:hover {
	background-color: rgba(255,136,17, 0.9);
	box-shadow: inset 0 0 0 3px rgba(245,245,245, 0.7);
	transition: 0.3s;
	color: white;
}

#scoreDisplay {
	display: inline-block;
}

#yes {
	float: right;
	margin-right: 10%;
	font-size: 2rem;
	color: yellow;
	display: none;
}

#no {
	float: right;
	margin-right: 10%;
	font-size: 2rem;
	color: red;
	display: none;
}
